.burger-button {
  display: none;
  padding: 0;
  min-width: 44px;
  height: 44px;
  background-color: transparent;
  background-image: url('../../images/burger-button.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  margin: 0;
  transition: opacity 0.5s linear;
}

.burger-button:hover {
  opacity: 0.8;
}

.burger-button_is_hidden {
  display: none;
}

.burger-button_place_main{
  background-image: url('../../images/burger-button-white.svg');
}

@media screen and (max-width: 768px) {
  .burger-button {
    display: block;
  }

  .burger-button_is_hidden {
    display: none;
  }
}

@media screen and (max-width: 544px) {
  .burger-button {
    min-width: 40px;
    height: 43px;
  }
}
