.student {
  font-family: 'Inter';
  padding: 110px 0 115px;
  background: #fff;
}

.student__wrapper {
  padding: 0 70px;
}

.student__content {
  display: grid;
  grid-template-columns: 1fr 270px;
  column-gap: 49px;
  margin-top: 66px;
  max-width: 100%;
}

.student__name {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0 0 18px;
  padding: 0;
  display: block;
}

.student__job {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 0 0 26px;
  padding: 0;
  display: block;
}

.student__biography {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  mix-blend-mode: normal;
  max-width: 600px;
  margin: 0 0 99px;
  padding: 0;
}

.student__gh-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #000;
  transition: opacity 0.5s linear;
}

.student__gh-link:hover {
  opacity: 0.7;
}

.student__avatar {
  width: 270px;
  height: 327px;
  border-radius: 10px;
  grid-column: 2/3;
  grid-row: 1/5;
  object-fit: cover;
  justify-self: flex-end;
  display: block;
  font-size: 0;
}

@media screen and (max-width: 873px) {
  .student {
    padding: 90px 0 80px;
  }

  .student__wrapper {
    padding: 0 50px;
  }

  .student__content {
    grid-template-columns: 1fr 255px;
    column-gap: 49px;
  }

  .student__name {
    font-size: 40px;
    line-height: 40px;
    margin: 0 0 16px;
    padding: 0;
  }

  .student__job {
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 20px;
  }

  .student__biography {
    max-width: 469px;
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 87px;
  }

  .student__avatar {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 630px) {
  .student {
    padding: 70px 0;
  }

  .student__wrapper {
    padding: 0 14px;
  }

  .student__content {
    margin-top: 60px;
    grid-template-columns: 292px;
    margin: 60px auto 0;
    max-width: 292px;
  }

  .student__name {
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 20px;
  }

  .student__job {
    font-size: 11px;
    line-height: 16px;
  }

  .student__biography {
    font-size: 11px;
    line-height: 16px;
    margin: 0 0 40px;
  }

  .student__avatar {
    width: 100%;
    height: 352px;
    grid-row: 1/2;
    grid-column: 1/2;
    margin-bottom: 40px;
  }
}
