.about {
  font-family: 'Inter';
  padding: 110px 0;
  background: #fff;
}

.about__wrapper {
  padding: 0 70px;
}

.about__text {
  display: flex;
  list-style: none;
  gap: 40px;
  padding: 0;
  margin: 70px 0 110px;
}

.about__text-item {
  max-width: 550px;
  margin: 0;
  padding: 0;
}

.about__text-title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  margin: 0 0 26px;
  padding: 0;
}

.about__text-info {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.about__diagram {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.about__diagram-item {
  width: 20%;
}

.about__diagram-item_type_long {
  width: 80%;
}

.about__diagram-title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding: 9.5px 0;
  margin: 0;
  background-color: #3456F3;
  color: #fff;
}

.about__diagram-title_color_grey {
  background-color: #f2f2f2;
  color: black;
}

.about__diagram-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
  margin: 14px 0 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .about {
    padding: 90px 0;
  }

  .about__content {
    padding: 0 50px;
  }

  .about__text {
    gap: 30px;
  }

  .about__text-item {
    max-width: 370px;
  }

  .about__text-title {
    margin: 0 0 22px;
  }

  .about__text-info {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 900px) {
  .about__wrapper {
    padding: 0 50px;
  }

  .about__text {
    margin-bottom: 93px;
  }

  .about__text-item {
    max-width: 319px;
  }

  .about__text-info {
    font-weight: 400;
  }

  .about__diagram-item {
    width: 21%;
  }

  .about__diagram-item_type_long {
    width: 79%;
  }
}

@media screen and (max-width: 750px) {
  .about {
    padding: 70px 0;
  }

  .about__text {
    margin: 60px 0;
    flex-direction: column;
    align-items: center;
    gap: 56px;
  }

  .about__text-item {
    max-width: 284px;
  }

  .about__text-title {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 16px;
  }

  .about__text-info {
    font-size: 11px;
    line-height: 16px;
  }

  .about__diagram-title {
    font-size: 11px;
    line-height: 13px;
    padding: 11px 0;
  }

  .about__diagram-text {
    font-size: 11px;
    line-height: 13px;
  }
}

@media screen and (max-width: 544px) {
  .about__wrapper {
    padding: 0 18px;
  }

  .about__diagram-item {
    width: 35%;
  }

  .about__diagram-item_type_long {
    width: 65%;
  }

  .about__diagram-text {
    margin-top: 10px;
  }
}